section.options {
    height: calc(100vh - 100px);
    background-color: #202024;
}

section.options div.container {
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

section.options div.container h2 {
    font-size: 32px;
    margin-bottom: 100px;
    color: #fefefe;
}

section.options div.container div.cont-options {
    max-width: 800px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

section.options div.container div.cont-options div.option {
    width: 250px;
    height: 250px;  
    margin-left: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transition: 0.5s;
    border-radius: 10px;
    border: 2px solid #B59DEB;
} 

section.options div.container div.cont-options div.option:nth-child(1) {
    margin-left: 0px;
}

section.options div.container div.cont-options div.option p {
    font-size: 18px;
    font-weight: 500;
    margin-top: 15px;
    transition: 0.5s;
    color: #B59DEB;
}

section.options div.container div.cont-options div.option path {
    color: #B59DEB;
}

/* EFEITO HOVER */

section.options div.container div.cont-options div.option:hover {
    cursor: pointer;
    border-color: #8257E5;
    background-color: #8257E5;
}
/* FIM EFEITO HOVER */

@media (max-width: 800px) {
    section.options div.container {
        width: 90%;
    }

    section.options div.container div.cont-options div.option {
        width: 170px;
        height: 170px;
        margin-left: 10px;
        margin-bottom: 10px;
    }
    section.options div.container div.cont-options div.option p {
        font-size: 14px;
        text-align: center;
    }
}

@media (max-width: 500px) {
    section.options div.container {
        width: 90%;
    }

    section.options div.container h2 {
        margin-bottom: 25px;
    }

    section.options div.container div.cont-options {
        width: 100%;
        flex-direction: column;
    }
    section.options div.container div.cont-options div.option {
        width: 200px;
        height: 130px;
        margin-left: 0px;
        margin-bottom: 10px;
    }
    section.options div.container div.cont-options div.option p {
        font-size: 14px;
        text-align: center;
    }
}

@media (max-width: 330px) {
    section.options div.container {
        width: 90%;
    }

    section.options div.container h2 {
        font-size: 28px;
        margin-bottom: 25px;
    }

    section.options div.container div.cont-options {
        width: 100%;
        flex-direction: column;
    }
    section.options div.container div.cont-options div.option {
        width: 180px;
        height: 100px;
        margin-bottom: 10px;
    }
    section.options div.container div.cont-options div.option p {
        font-size: 14px;
        text-align: center;
    }
}

